requests~=2.32.0
python-dotenv~=0.21.0
GitPython~=3.1.43
pandas~=2.2.3

opentelemetry-instrumentation-openai~=0.33.12
typing_extensions~=4.12.2
urllib3~=2.2.3
python-dateutil~=2.9.0.post0
boto3~=1.34.157
botocore~=1.34.162
